<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="box">
                    <div class="display"><input type="text" readonly size="18" id="display" ng-model="ctrl.display.equation" maxlength="22">
                    </div>
                    <div class="keys">
                        <p>
                        <p>
                            <input type="button" class="button gray" value="MRC" ng-click="ctrl.mrc()">
                            <input type="button" class="button gray" value="MR-" ng-click="ctrl.mrMinus()">
                            <input type="button" class="button gray" value="MR+" ng-click="ctrl.mrPlus()">
                            <input type="button" class="button pink" value="/" ng-click="ctrl.setEquation('/')">
                        </p>
                        <p>
                            <input type="button" class="button black" value="7" ng-click="ctrl.setEquation(7)">
                            <input type="button" class="button black" value="8" ng-click="ctrl.setEquation(8)">
                            <input type="button" class="button black" value="9" ng-click="ctrl.setEquation(9)">
                            <input type="button" class="button pink" value="*" ng-click="ctrl.setEquation('*')">
                        </p>
                        <p>
                            <input type="button" class="button black" value="4" ng-click="ctrl.setEquation(4)">
                            <input type="button" class="button black" value="5" ng-click="ctrl.setEquation(5)">
                            <input type="button" class="button black" value="6" ng-click="ctrl.setEquation(6)">
                            <input type="button" class="button pink" value="-" ng-click="ctrl.setEquation('-')">
                        </p>
                        <p>
                            <input type="button" class="button black" value="1" ng-click="ctrl.setEquation(1)">
                            <input type="button" class="button black" value="2" ng-click="ctrl.setEquation(2)">
                            <input type="button" class="button black" value="3" ng-click="ctrl.setEquation(3)">
                            <input type="button" class="button pink" value="+"  ng-click="ctrl.setEquation('+')">
                        </p>
                        <p>
                            <input type="button" class="button black" value="0" ng-click="ctrl.setEquation(0)">
                            <input type="button" class="button black" value="." ng-click="ctrl.setEquation('.')">
                            <input type="button" class="button pink" value="C" ng-click="ctrl.clean()">
                            <input type="button" class="button orange" value="=" ng-click="ctrl.compute()">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
